root = "."
tmp_dir = "tmp"

[build]
  args_bin = []
  bin = "./target/debug/api"
  cmd = "cargo build"
  delay = 1000
  full_bin = "./scripts/run.sh ./target/debug/api"
  exclude_dir = ["assets", "tmp", "vendor", "testdata", "models", "target"]
  exclude_file = []
  exclude_regex = []
  exclude_unchanged = false
  follow_symlink = false
  include_dir = ["src"]
  include_ext = ["rs", "toml"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
