[Unit]
Description=Smally Database Backup
After=smally.service

[Service]
Type=oneshot
User=smally
Group=smally
WorkingDirectory=/home/smally/smally-api
ExecStart=/home/smally/smally-api/scripts/deployment/backup.sh

# Logging
StandardOutput=journal
StandardError=journal
